.login {
  text-align: center;
  margin: auto;
  border: 1px solid black;
  width: 500px;
  height: 400px;
  margin-top: 200px;
}
.sign-up-container {
  text-align: center;
  margin: auto;
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin-top: 200px;
  display: grid;
  grid-template-columns:auto auto ;
  grid-template-rows: auto auto auto;
}

.sign-up-header {
  grid-column: 1/3;
  
}
.username, .password, .name, .email {
  height: 30px;  
  border: 1px solid #cdcdcd;
  background-color: white;
  font-size: 16px;
}
button {
  border: 1px solid black;
  width: 250px;
  height: 50px;
  background: black;
  color: white;
  cursor: pointer;
  margin-left:  auto;
  margin-right: auto;
  /* text-align: center; */
}
.grid-item {
  /* display: grid; */
  align-items: center;
  justify-content: center;
}
